.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #E0F4FF;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    margin-bottom: 1.5rem;
  }