.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2%;
  }
  
  .chart-bar__inner {
    height: 100%;
    width: 100%;
    border: 1px solid #87C4FF;
    border-radius: 12px;
    background-color: #87C4FF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .chart-bar__fill {
    background-color: #0067bc;
    width: 100%;
    transition: all 0.3s ease-out;
  }
  
  .chart-bar__label {
    font-size: 0.5rem;
  }
  .monthlySpendValueDiv{
      /* rotate: -30deg; */
      margin: 0.1rem;
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -o-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      transform: rotate(-35deg);
  }

  .chart-bar__monthlySpendValue{
    font-size: 0.6rem;
  }

  .chart-bar__label , .chart-bar__monthlySpendValue{
    text-align: center;
    font-weight: bold;
  }