.new-expense {
    background-color: #E0F4FF;
    padding: 1.5rem;
    margin: 2rem auto;
    margin-top: 0;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  .new-expense__actions{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .new-expense__controls{
    display: flex;
    /* justify-content: flex-start; */
    text-align: center;
  }

  @media (max-width: 724px) {
    .new-expense__controls{
      display: flex;
      justify-content: center;
    }
  }

  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #39a7ff;
    background-color: #39A7FF;
    color: white;
    border-radius: 12px;
  }

  .new-expense .cancelBtn{
    margin-right: 1rem;

  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #39A7FF;
    border-color: #74b3f3;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }

  .new-expense .expense-row{
    text-align: center !important;
    padding:0 !important;
  }